# ignore everything
*

# allow these folders
!hypr/
!waybar/
!kitty/
!rofi/
!waypaper/
!swaync/
!fish/
!starship/
!fonts/

# allow their contents (but NOT recursively unignore everything)
hypr/*
waybar/*
kitty/*
rofi/*
waypaper/*
swaync/*
fish/*
starship/*
fonts/*

# now unignore everything inside those folders
!hypr/**
!waybar/**
!kitty/**
!rofi/**
!waypaper/**
!swaync/**
!fish/**
!starship/**
!fonts/**

# re-ignore specific files
hypr/modules/monitors.lua
hypr/modules/monitors.conf

# allow these single files
!starship.toml
!.gitignore
!README.md
