# ignore everything
*

# allow these folders
!hypr/
!waybar/
!kitty/
!rofi/
!waypaper/
!swaync/

# allow their contents
hypr/*
waybar/*
kitty/*
rofi/*
waypaper/*
swaync/*

# but unignore the actual files inside them
!hypr/**
!waybar/**
!kitty/**
!rofi/**
!waypaper/**
!swaync/**

# allow this single file
!starship.toml
!.gitignore
!README.md