# ignore everything
*

# allow these folders
!hypr/
!waybar/
!kitty/
!rofi/
!waypaper/
!swaync/
!fish/
!starship/

# allow their contents
hypr/*
waybar/*
kitty/*
rofi/*
waypaper/*
swaync/*
fish/*
starship/*

# but unignore the actual files inside them
!hypr/**
!waybar/**
!kitty/**
!rofi/**
!waypaper/**
!swaync/**

# re ignore single files
hypr/modules/monitors.lua
hypr/modules/monitors.conf

# allow this single file
!starship.toml
!.gitignore
!README.md