* {
    font-name:                   "JetBrains Mono Nerd Font 10";
    font-name-large:             "JetBrains Mono Nerd Font 20";

    menu-background:             rgb(29, 32, 33, 0.95);
    menu-background-alt:         #282828;
    control-surface:             #2f3436;
    control-background:          #202426;
    border-default:              #5e6366;

    text-primary:                #d4be98;
    text-muted:                  #b9b4ad;
    text-placeholder:            #5e6366;
    text-prompt:                 #4c8a8c;

    selection-background:        #2f3436;
    selection-warning:           #f30c0c;
    state-active:                #3f5255;
    state-urgent:                #5a4b3b;
}