/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import "~/.config/rofi/globals/global-properties.rasi"

* {
    font:                        "CaskaydiaCove NF";
}

/*
USE_BUTTONS=YES
*/

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       800px;
    x-offset:                    0px;
    y-offset:                    0px;

    padding:                     0px;
    border:                      0px solid;
    border-radius:               20px;
    border-color:                @selection-background;
    cursor:                      "default";
    background-color:            @menu-background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selection-background;
    background-color:            transparent;
    children:                    [ "inputbar", "listview", "message" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0px;
    padding:                     100px 80px;
    background-color:            transparent;
    background-image:            url("~/.cache/rofi-bg.png", width);
    children:                    ["prompt"];
}




/* DISABLED
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "  System";
    padding:                     12px;
    border-radius:               12px;
    background-color:            @state-urgent;
    text-color:                  @menu-background;
    font:                        @font-name;
}
*/

prompt {
    enabled:                     true;
    padding:                     12px;
    border-radius:               12px;
    background-color:            @state-active;
    text-color:                  @menu-background;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     6;
    lines:                       1;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     15px;
    margin:                      15px;
    background-color:            transparent;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    padding:                     30px 10px;
    border-radius:               12px;
    background-color:            @control-surface;
    text-color:                  @text-primary;
    cursor:                      pointer;
}
element-text {
    font:                        @font-name-large;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
element selected.normal {
    background-color:            @selection-background;
    text-color:                  @selection-warning;
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     15px;
    border-radius:               0px;
    background-color:            @menu-background-alt;
    text-color:                  @text-primary;
}
textbox {
    font:                        @font-name;
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
