//     __  __                 __   ________  ___       _   __    __ 
//    / / / /_  ______  _____/ /  /_  __/  |/  /      / | / /___/ /_
//   / /_/ / / / / __ \/ ___/ /    / / / /|_/ /_____ /  |/ / _  / __/
//  / __  / /_/ / /_/ / /  / /___ / / / /  / /_____ / /|  /  __/ /_  
// /_/ /_/\__, / .___/_/  /_____//_/ /_/  /_/      /_/ |_/\___/\__/  
//       /____/_/                                                   

// Copyright © 2025-2026 Djalel Oukid (sniper1720)

// 20260824 -  added central theme file - HighLibrarian
@import "~/.config/rofi/globals/global-properties.rasi"

* {
    message-background: transparent;
    message-border: @text-prompt;
    message-text: @text-prompt;
    success-message: @state-active;
}

window {
    background-color: @menu-background;
    border: 2px;
    border-color: @border-default;
    padding: 0;
    border-radius: 10px;
    width: 20%;
    location: 0;
    x-offset: 0;
    y-offset: 0;
    transparency: "real";
}

mainbox {
    enabled: true;
    spacing: 0em;
    padding: 10px;
    orientation: vertical;
    children: [inputbar, message, listview ];
    background-color: transparent;
}


inputbar {
    enabled:            true;
    spacing:            0.5em;
    padding:            100px 60px;
    margin:             0 0 10px 0;
    background-color:   @selection-background;
    background-image:   url("~/.cache/rofi-bg.png", width);
    border:             0px 0px 2px 0px;
    border-color:       @border-default;
    border-radius:      8px;
    orientation:        horizontal;
}

prompt {
    enabled:            false;
    expand:             false;
    text-color:         @text-primary;
    font:               @font-name-medium;
    padding:            0px 5px;
    background-color:   transparent;
    str: "";
}

entry {
    enabled: false;
    background-color: transparent;
    text-color: @text-primary;
    caret-color: @text-prompt;
    placeholder: "";
    placeholder-color: @text-placeholder;
    expand: true;
}

listview {
    background-color: transparent;
    border: 0;
    padding: 5px;
    cycle: true;
    layout: vertical;
    spacing: 2px;
    scrollbar: false;
    columns: 1;
    dynamic: true;
    fixed-height:false;
}

element {
    enabled: true;
    padding: 5px 10px;
    margin: 2px 0;
    background-color: transparent;
    text-color: @text-primary;
    border: 0;
    border-radius: 5px;
    orientation: horizontal;
    children: [ element-text ];
    vertical-align: 0.5;
}

element-icon {
    background-color: transparent;
    size: 0px;
    margin: 0px;
    enabled: false;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    highlight-color: @selection-warning;
    expand: true;
    vertical-align: 0.5;
    format: "{text}";
}

element selected {
    background-color: @selection-background;
    text-color: @text-primary;
    border-radius: 5px;
}

element urgent {
    background-color: @selection-warning;
    text-color: @text-primary;
}

element active {
    background-color: @state-active;
    text-color: @text-primary;
}

scrollbar {
    handle-color: @text-prompt;
    background-color: @border-default;
    width: 4px;
    padding: 0;
    border-radius: 0px;
}

case-indicator {
    enabled: false;
}

message {
    enabled: true;
    margin: 10px 0px 10px 0px;
    padding: 100px;
    border: 1px;
    border-radius: 8px;
    border-color: @message-border;
    background-color: @message-background;
    children: [ textbox ];
}

textbox {
    background-color: @message-background;
    text-color: #d4be98;
    vertical-align: 0.5;
    horizontal-align: 0.0;
    highlight: none;
}